{% include 'header.html' %}

    <div class="container-fluid">
        
        <div class="col-sm-10 col-sm-offset-1">
            <h2>Ol&aacute; {{ nomeUsuario }}! Veja as ordens de servi&ccedil;o...</h2>
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-success">
                        <h4>&raquo; Chamados abertos por voc&ecirc;</h4>
                        <ul class="list-unstyled">
                        {% for key in pedidos['aberto_por']|keys %}
                            <li>
                                <a href="{{ app.request.basepath }}/visualizar-chamado/{{ key }}">Chamado #{{ key }} &minus; aberto em {{ pedidos['aberto_por'][key]['abertura']|date('d/m/Y H:i:s') }}</a>
                                <ul>
                                {% for item in pedidos['aberto_por'][key]['itens'] %}
                                    <li><a href="#" data-item-id="{{ item['idItem'] }}" data-toggle="modal" data-target=".bs-example-modal-lg">{{ item['quantidade'] }}&nbsp;{{ item['produto'] }} &minus; {{ item.defeito[:100] }} &minus; <strong>{{ item['status_nome'] }}</strong></a></li>
                                {% else %}
                                    <li>N&atilde;o h&aacute; &iacute;tens relacionados a este pedido!</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li>Ainda n&atilde;o h&aacute; ordens abertas por voc&ecirc;!</li>
                        {% endfor %}
                        </ul>

                        {% if pedidos['aberto_por']|length == 0 %}
                        <a href="{{ app.request.basepath }}/novo-chamado" class="btn btn-primary btn-lg" role="button" style="margin-top:2%">Abrir novo chamado</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-info">
                        <h4>&raquo; Chamados atribu&iacute;dos a voc&ecirc;</h4>
                        <ul class="list-unstyled">
                        {% for key in pedidos['recebido_por']|keys %}
                            <li>
                                Chamado #{{ key }} &minus; aberto em {{ pedidos['recebido_por'][key]['abertura']|date('d/m/Y H:i:s') }}
                                <ul>
                                {% for item in pedidos['recebido_por'][key]['itens'] %}
                                    <li><a href="#" data-item-id="{{ item['idItem'] }}" data-toggle="modal" data-target=".bs-example-modal-lg">{{ item['quantidade'] }}&nbsp;{{ item['produto'] }} &minus; {{ item.defeito[:100] }} &minus; <strong>{{ item['status_nome'] }}</strong></a></li>
                                {% else %}
                                    <li>N&atilde;o h&aacute; &iacute;tens relacionados a este pedido!</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li>Ainda n&atilde;o h&aacute; ordens atribu&iacute;das a voc&ecirc;!</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        <h4>&raquo; Chamados aguardando atendimento</h4>
                        <ul class="list-unstyled">
                        {% for key in pedidos['aguardando_atendimento']|keys %}
                            <li>
                                Chamado #{{ key }} &minus; aberto em {{ pedidos['aguardando_atendimento'][key]['abertura']|date('d/m/Y H:i:s') }}
                                <ul>
                                {% for item in pedidos['aguardando_atendimento'][key]['itens'] %}
                                    <li><a href="#" data-item-id="{{ item['idItem'] }}" data-toggle="modal" data-target=".bs-example-modal-lg">Aberto por <u>{{ item['nome'] }}</u> ({{ item['email'] }}) &minus; <strong>{{ item['quantidade'] }}</strong>&nbsp;{{ item['produto'] }} &minus; {{ item.defeito[:100] }} &minus; <strong>{{ item['status_nome'] }}</strong></a></li>
                                {% else %}
                                    <li>N&atilde;o h&aacute; &iacute;tens relacionados a este pedido!</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li>N&atilde;o h&aacute; ordens aguardando atendimento no sistema!</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
                        
        </div>


    </div><!-- /.container -->

    <div class="modal fade bs-example-modal-lg" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modalFormLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% include 'footer.html' %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ app.request.basepath }}/js/jquery-2.1.1.min.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery-ui.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        /*$('.navbar li a').click(function(e) {
          var $this = $(this);
          if (!$this.hasClass('active')) {
            $this.addClass('active');
          }
          e.preventDefault();
        });*/

        $('#modal-form').on('shown.bs.modal', function (e) {
            $(this).find('.modal-content').html('');
            
            var target = $( e.target );
            var $invoker = $(e.relatedTarget);

            console.log("teste: " + $invoker.data('item-id'));

            $(this).find('.modal-content').load( "{{ app.request.basepath }}/visualizar-item-full/" + $invoker.data('item-id') );

            //e.preventDefault();
        });

        $('#modal-form').on('hidden.bs.modal', function (e) {
            location.reload();
        });

    </script>

</body>
</html>